* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #f5f5f5;
}
.text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.add input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

 button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  
}
.add button {
  background-color: #4CAF50;

}
.delete  {
  background-color: #f44336;
}
 button:hover {
  border: 1px solid #424141;
}
 button:active {
  transform: scale(0.9);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.task h2 {
  margin: 0;
}
.task p {
  margin: 0;
}
.task input {
  margin-left: 10px;
}
.completed {
  background-color: #4CAF50;
}